<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Blue Chips News Sentiment Analyser</title>
    </head>
    <body>
        <h1 style="padding:10px">Blue Chips News Sentiment Analyser</h1>
        <h3>Enter a Stock Name to see the daily sentiment scores of the Stock</h3>
            <form action="sentiment" method="POST" align="center">
					<b>Blue chip name: </b>
					<input id="text_field" name="chip" type="text" required>
					<input id="submit_button" type="Submit" class="push_button blue">
            </form>
        <p>
        <i>Disclaimer: This page is not meant to represent any form of financial advice. Any investments you make will carry risk so remember to do your due diligence and research before doing so.</i>
        </p>
    </body>
</html>