* {
    margin: 0;
    padding: 0;
}

span {
    color: RoyalBlue;
    font-weight: bold;
}

.desc {
    color: white;
    width: 900px;
}

h1 {
    border: solid;
    border-radius: 7px;
    border-color: CornflowerBlue;
    margin: auto;
    width: 400px;
    color: white;
}

a:link {
  color: orange;
  opacity: 0.7;
}

/* visited link */
a:visited {
  color: orange;
  opacity: 0.7;
}

b {
    color: white;
}

table.dataframe, .dataframe th {
    border: none;
    border-bottom: 1px solid #C8C8C8;
    border-collapse: collapse;
    text-align:left;
    padding: 10px;
    margin-bottom: 40px;
    font-size: 0.9em;
    background-color: white;
}

.dataframe th {
    text-align: center;
		}

table.dataframe {
    width: 1450px;
    border: solid 2.5px;
}

body {
    font-family: system-ui;
    margin: 0;
    padding: 0;
}

div.head_img {
      /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/image.jpg")};
}

.float_parent {
    width: 100%;
}
.float_child {
    float: left;
    width: 50%;
}
